h1 {
	font-size: 42px;
	font-weight: 600;
	text-shadow: 2px 2px #ff0000;
}


h2 {
	font-size: 34px;
	font-weight: 600;
	text-shadow: 1px 1px #ff0000;
}

.container {
	opacity: .9;
}

.jumbotron {
	min-height: 600px;
	padding: 10px;
}

.options {
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wrapper {
	background-image: url("../images/backgrounds/background11.jpg");
	min-height: 1080px;
}

#footerDiv {
	background-color: #222;
	color: #ccc;
	height: 50px;
	padding-top: 15px;
}

#headerTitle {
	color: yellow;
	
	margin-top: 10px;
	text-align: center;
}

#leftLogo {
	display: block;
	height: 130px;
}

#optionsSection {
	display: block;
	min-height: 200px;
	text-align: center;
}

#questionSection {
	display: block;
	min-height: 235px;
	text-align: center;
}

#restartButton {
	display: block;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

#rightLogo {
	display: block;
	height: 130px;
}

#scoreCorrectSection {
	margin-top: 5px;
	padding: 10px;
	text-align: center;
}

#scoreSection {
	background-color: #CCC;
	height: 100px;
	margin: 10px;
}

#scoreWrongSection {
	margin-top: 5px;
	padding: 10px;
	text-align: center;
}

#timerLabel {
	font-size: 18px;
	text-align: center;
}

#timerSection {
	color: red;
	font-size: 24px;
	min-height: 50px;
	text-align: center;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 980px) {
	#optionsSection {
		display: block;
		min-height: 310px;
		text-align: center;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1180px) {
	#optionsSection {
		display: block;
		min-height: 350px;
		text-align: center;
	}

	#questionSection {
		display: block;
		min-height: 300px;
		text-align: center;
	}

	#restartButton {
		display: block;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
	}

	#scoreSection {
		background-color: #CCC;
		height: 80px;
		margin: 10px;
	}

	#scoreCorrectSection {
		margin-top: 10px;
		padding: 10px;
		text-align: center;
	}

	#scoreWrongSection {
		margin-top: 10px;
		padding: 10px;
		text-align: center;
	}
}

