h1 {
	font-size: 52px;
	font-weight: 800;
	text-shadow: 2px 2px #ff0000;
}

.container {
	opacity: .9;
}

.options {
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wrapper {
	background-image: url("../images/backgrounds/background11.jpg");
	min-height: 1080px;
}

#footerDiv {
	background-color: #222;
	color: #ccc;
	height: 50px;
	padding-top: 15px;
}

#headerTitle {
	color: yellow;
	float: right;
	margin-top: 30px;
}

#leftLogo {
	display: block;
	height: 150px;
}

#questionSection {
	text-align: center;
}

#rightLogo {
	display: block;
	height: 150px;
}

#scoreCorrectSection {
	text-align: center;
}

#scoreSection {
	background-color: #CCC;
}

#scoreWrongSection {
	text-align: center;
}

#timerSection {
	color: red;
	font-size: 24px;
	text-align: center;
}


